@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #f4f4f4;
}

.container  {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.btn-1 {
    height: 38px;
    background-color: #eb4442;
    border: 0;
    padding-left: 20px;
    padding-right: 20PX;
    color: #FFF;
}
.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.light {
    background-color: #e6e6e6;
    color: #2d2b3e;
}
.dark {
    background-color: #2d2b3e;
    color: #FFF;
}
header {
    background-color:#2d2b3e;
    color: #fff;

    min-height: 70px;
    border-bottom: 3px solid #eb4442;
    padding: 5px 0;
}
header .container {
    display: flex;
    justify-content: space-between;

}
header ul {
    height: 100%;
    display: flex;
    align-items: center;
}
header li {
  list-style: none; 
  padding: 0 20px;
   
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
header .highlight, header #current a {
    color: #eb4442;
    font-weight: bold;
}
header a:hover {
    color: #ccc;
    font-weight: bold;
}
#showcase {
    min-height: 400px;
    background-image: url(laptop.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom:10px ;
}
#showcase p {
    font-size: 20px;
}



